body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(93, 99, 204, 1) 0%, rgba(245, 240, 242, 1) 100%, rgba(0, 212, 255, 1) 100%);
    font-family: monospace, sans-serif;
    color: #041a24;
}

.box {
    background: rgba(2, 58, 40, 0.3);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 4px 10px rgba(44, 4, 4, 0.067);
    width: 85%;
    max-width: 800px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temp {
    width: 100%;
    padding: 15px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}

input {
    font-size: 20px;
    width: 60%;
    font-family: monospace;
    padding: 5px;
    background: rgba(56, 7, 133, 0.3);
    border-color: black;
    color: black;
}

input::placeholder {
    color:black;
}
